#header {
    background-color: #FFF !important;
    max-width: 959px;
}

.header__brand {
    font-size: 40px;
    font-weight: 700;
    color: #0573ff;
}

.active a{
    color: #008FF3 !important;
}

.nav-link {
    color: #111111;
    font-size: 12px;
    font-weight: 700;
}

.nav-link:hover {
    color: #33a5f5;
    cursor: pointer;
}