.container-fuild {
    background-color: #e0e8ef;
}

#body {
    min-height: 82vh;
    padding: 20px 30px;

}

#body-content {
    max-width: 959px;
    background-color: #FFF;
    border-radius: 5px;
    min-height: 360px;
    margin: 30px auto;
    padding: 20px 30px;
}