<div class="module-page">
    <h1>Tải Zalo PC cho máy tính </h1>
    <h3>Ứng dụng Zalo PC đã có mặt trên Windows, Mac OS, Web</h3>
    <div class="block-pc">
        <div class="info-pc">
            <ul class="list-group">
                <li class="list-item">
                    <fa-icon [icon]="faCheck" class="list-item__icon"></fa-icon>
                    Gửi file, ảnh, video cực nhanh lên đến 1GB
                </li>
                <li class="list-item">
                    <fa-icon [icon]="faCheck" class="list-item__icon"></fa-icon>
                    Đồng bộ tin nhắn với điện thoại
                </li>
                <li class="list-item">
                    <fa-icon [icon]="faCheck" class="list-item__icon"></fa-icon>
                    Tối ưu cho chat nhóm và trao đổi công việc
                </li>
            </ul>
            <div class="button-wrap">
                <button class="btn btn-download">
                    <fa-icon [icon]="faDown"></fa-icon>
                    Tải ngay
                </button>
                <button class="btn btn-web">
                    <fa-icon [icon]="faGlobe"></fa-icon>
                    Dùng bản web
                </button>
            </div>
        </div>
        <div class="share-pc">
            <img src="https://stc-zaloprofile.zdn.vn/pc/v1/images/img_pc.png" alt="Zalo - Nhắn gửi Yêu Thương (Windows/iOS/Android)" class="img-control">
        </div>
    </div>
</div>
