<div class="body-container">
    <div class="module-page container">
        <h2>Liên hệ</h2>
        <div class="block-contact">
            <div class="info-zalo-wrap">
                <div class="info-zalo">
                    <p>Mọi thông tin phản hồi, đóng góp ý kiến của bạn sẽ góp phần làm cho sản phẩm Zalo của chúng tôi trở nên hoàn thiện hơn.</p>
                    <p>Mọi thông tin đóng góp ý kiến hoặc hỗ trợ sử dụng sản phẩm, người dùng có thể liên hệ trực tiếp qua các kênh chăm sóc khách hàng sau:</p>
                </div>
                <img class="img-contact" src="https://stc-zaloprofile.zdn.vn/pc/v1/images/img_contact.jpg" alt="Zalo - Zalo - Nhắn gửi Yêu Thương (Windows/iOS/Android)">
            </div>
            <hr/>
            <ul class="contact__list">
                <li class="contact__list-item">
                    <i class="ic" style="background-image: url(https://stc-zaloprofile.zdn.vn/pc/v1/images/oa-icon.png)"></i>
                    <p><strong>Zalo Developer</strong> <br><a href="https://developers.zalo.me" class="detail" target="_blank">https://developers.zalo.me</a></p>
                </li>
                <li class="contact__list-item">
                    <i class="ic" style="background-image: url(https://stc-zaloprofile.zdn.vn/pc/v1/images/oa-icon.png)"></i>
                    <p><strong>Zalo Official Account</strong> <br><a href="https://oa.zalo.me" class="detail" target="_blank">https://oa.zalo.me</a></p>
                </li>
                <li class="contact__list-item">
                    <i class="ic ic-zalo" style="background-image: url(https://stc-zaloprofile.zdn.vn/pc/v1/images/oa-icon.png);"></i>
                    <p><strong>Đường dây nóng</strong> <br>1900 561 558 (cước phí 2000đ/phút)</p>
                </li>
                <li class="contact__list-item">
                    <i class="ic ic-zalo" style="background-image: url(https://stc-zaloprofile.zdn.vn/pc/v1/images/oa-icon.png);"></i>
                    <p><strong>Góp ý &amp; hỗ trợ</strong> <br><a href="mailto:feedback@zalo.me" class="detail">feedback@zalo.me</a></p>
                </li>
            </ul>
            <div class="scan-qr">
                <p>Zalo QR Code:</p><img src="https://stc-zaloprofile.zdn.vn/pc/v1/images/zalo_qrcode.jpg" alt="Zalo - Zalo - Nhắn gửi Yêu Thương (Windows/iOS/Android)">
            </div>
        </div>
    </div>
</div>