<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zalo PC - Tải Zalo PC để làm việc nhóm hiệu quả và gửi file nhanh</title>

    <!-- Link icon -->
    <link rel="stylesheet" href="./asset/font/fontawesome-free-5.15.4-web/css/all.css">
    <!-- Reset css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Roboto Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Link css -->
</head>
<body>
    <header id="header">
        <div class="grid-container">
            <nav class="header__nav">
                <div class="nav-menu-on-mobile">
                    <label for="nav-menu-on-mobile__input" class="nav-menu-on-mobile__icon">
                        <i class="fas fa-bars"></i>
                    </label>
                    <input type="checkbox" hidden id="nav-menu-on-mobile__input">
                    <label for="nav-menu-on-mobile__input"class="nav-menu-on-mobile__overlay"></label>
                    <div class="nav-menu-on-mobile__list">
                        <li class="nav__menu-item active">
                            <a href="" class="menu-item__link" title="Zalo PC, Cài đặt Zalo, Zalo cho máy tính, Download Zalo, tải zalo về máy tính">ZALO PC</a>
                        </li>
                        <li class="nav__menu-item">
                            <a href="" class="menu-item__link" title="Tính năng nổi bật của Zalo">Tính năng</a>
                        </li>
                        <li class="nav__menu-item">
                            <a href="" class="menu-item__link" title="Zalo OA, Zalo page dành cho doanh nghiệp, tổ chức quảng bá và quảng cáo bán sản phẩm">Official acccount</a>
                        </li>
                        <li class="nav__menu-item">
                            <a href="" class="menu-item__link" title="Dành cho developer, api zalo">Nhà phát triển</a>
                        </li>
                        <li class="nav__menu-item">
                            <a href="" class="menu-item__link" title="Bảo mật">Bảo mật</a>
                        </li>
                        <li class="nav__menu-item">
                            <a href="" class="menu-item__link" title="Hỏi đáp về Zalo">Trợ giúp</a>
                        </li>
                        <li class="nav__menu-item">
                            <a href="" class="menu-item__link" title="Liên hệ và tìm hỗ trợ về Zalo">Liên hệ</a>
                        </li>
                        <li class="nav__menu-item">
                            <a href="" class="menu-item__link" title="Báo cáo vi phạm">Báo cáo vi phạm</a>
                        </li>
                        <li class="nav__menu-item active">
                            <a href="" class="menu-item__link" title="Zalo - Nhắn gửi Yêu Thương (Windows/iOS/Android)">Đăng nhập</a>
                        </li>
                    </div>
                </div>
                <a href="#" class="logo-container">
                    <img src="https://stc-zaloprofile.zdn.vn/pc/v1/images/logo.svg" alt="zalo" class="logo-container__img">
                </a>
                <ul class="nav__menu-list hide-on-mobile hide-on-tablet">
                    <li class="nav__menu-item active">
                        <a href="" class="menu-item__link" title="Zalo PC, Cài đặt Zalo, Zalo cho máy tính, Download Zalo, tải zalo về máy tính">ZALO PC</a>
                    </li>
                    <li class="nav__menu-item">
                        <a href="" class="menu-item__link" title="Tính năng nổi bật của Zalo">Tính năng</a>
                    </li>
                    <li class="nav__menu-item">
                        <a href="" class="menu-item__link" title="Zalo OA, Zalo page dành cho doanh nghiệp, tổ chức quảng bá và quảng cáo bán sản phẩm">Official acccount</a>
                    </li>
                    <li class="nav__menu-item">
                        <a href="" class="menu-item__link" title="Dành cho developer, api zalo">Nhà phát triển</a>
                    </li>
                    <li class="nav__menu-item">
                        <a href="" class="menu-item__link" title="Bảo mật">Bảo mật</a>
                    </li>
                    <li class="nav__menu-item">
                        <a href="" class="menu-item__link" title="Hỏi đáp về Zalo">Trợ giúp</a>
                    </li>
                    <li class="nav__menu-item">
                        <a href="" class="menu-item__link" title="Liên hệ và tìm hỗ trợ về Zalo">Liên hệ</a>
                    </li>
                    <li class="nav__menu-item">
                        <a href="" class="menu-item__link" title="Báo cáo vi phạm">Báo cáo vi phạm</a>
                    </li>
                    <li class="nav__menu-item active">
                        <a href="" class="menu-item__link" title="Zalo - Nhắn gửi Yêu Thương (Windows/iOS/Android)">Đăng nhập</a>
                    </li>
                </ul>

            </nav>
        </div>
    </header>
    <div id="container">
        <div class="body-section">
            <div class="about-zalo">
                <h1>Tải Zalo PC cho máy tính</h1>
                <h2>Ứng dụng Zalo PC đã có mặt trên Windows, Mac OS, Web</h2>
                <div class="block-pc">
                    <div class="info-pc">
                        <ul>
                            <li><img src="./asset/img/ico_check.png" alt="" class="icon-check">Gửi file, ảnh, video cực nhanh lên đến 1GB</li>
                            <li><img src="./asset/img/ico_check.png" alt="" class="icon-check">Đồng bộ tin nhắn với điện thoại</li>
                            <li><img src="./asset/img/ico_check.png" alt="" class="icon-check">Tối ưu cho chat nhóm và trao đổi công việc</li>
                        </ul>
                        <div class="btn-block">
                            <button class="btn btn-primary">
                                <img class="btn-primary__icon" src="./asset/img/btn_download.png">
                                Tải ngay
                            </button>
                            <button class="btn sub-btn">
                                <img class="sub-btn__icon" src="./asset/img/world.png">
                                Dùng bản web
                            </button>
                        </div>
                    </div>
                    <div class="share-pc">
                        <img src="./asset/img/img_pc.png" alt="" class="share-pc__img">
                    </div>
                </div>
            </div>
            <div class="zalo-chat">
                <div class="zalo-chat__chat-box">
                    <div class="box__wrapper">
                        <div class="box__top">
                            <div class="box__header">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="https://page.widget.zalo.me/static/images/2.0/Logo.svg" alt="" class="media-left__img">
                                        <span class="media-left__title" title="Zalo Hỗ Trợ PC">Zalo Hỗ Trợ PC</span>
                                    </div>
                                    <div class="media-right">
                                        <div class="circle-icon">
                                            <i class="fas fa-ellipsis-h"></i>
                                        </div>
                                        <div class="circle-icon">
                                            <i class="fas fa-chevron-down"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box__welcome">
                                <h1>Xin chào!</h1>
                                <h3>Rất vui khi được hỗ trợ bạn</h3>
                            </div>
                        </div>
                        <div class="box__body">
                            <p class="box-body__title">Bắt đầu trò chuyện với Zalo Hỗ Trợ PC</p>
                            <button class="btn zalo-chat__btn zalo-chat__btn--with-zalo">Chat bằng Zalo</button>
                            <button class="btn zalo-chat__btn">Chat nhanh</button>
                        </div>
                        <div class="box__footer">
                            <div class="footer-wrapper">
                                <div class="language-change-wrapper">
                                    <button class="zbtn-normal zbtn-info">Tiếng Việt</button>
                                    <button class="zbtn-normal zbtn-clear">English</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="zalo-chat__zalo-logo">
                    <img src="https://page.widget.zalo.me/static/images/2.0/Logo.svg" class="zalo-logo__img">
                </div>
            </div>
        </div>
    </div>
    <footer id="footer">© 2019 Một sản phẩm của Zalo Group</footer>

    <div class="scroll-to-top">
        <i class="fas fa-chevron-up"></i>
    </div>

    <script src="./asset/javascript/main.js"></script>
</body>
</html>